@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/awcodes/filament-curator/resources/css/plugin.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/awcodes/filament-curator/resources/**/*.blade.php';
